<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body class='page frame {{ block "body_classes" . }}{{ end }}'>
  {{ partial "menu-main-mobile.html" . }}
  <div id="wrapper" class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </div>

  {{- $scripts := resources.Get "js/scripts.js" }}
  {{- $js := slice $scripts | resources.Concat "js/bundle.js" }}
  <script type="text/javascript" src="{{ ($js | minify | fingerprint).RelPermalink }}"></script>
  {{- block "footer_js" . -}}
  {{- end -}}
  {{- partial "google-analytics.html" . -}}
</body>
</html>